.dark-page {
    background-color: rgb(44, 44, 44);
    color: rgb(206, 206, 206);
    text-align:center;
}

.bio-result {
    
    text-align:center;
    background-color: rgb(252, 203, 248);
    width: 80%;
    margin: 0 auto;
}

.vertical-padding {
    padding-top: 3em;
}

.center-aligned {
    width: 100%;
    margin: 0 auto;
}

.left-aligned {
    text-align: left;
}